
#mainDiv{margin:0 auto; width:954px; border-left:1px solid #999999; border-right:1px solid #999999;}

#divRightPage .divUserControl {width: 100%; padding-left: 25px; padding-top: 10px; display: none;} 